# Your backend API URL (local dev = http://localhost:4000)
VITE_API_URL=http://localhost:4000
VITE_API_URL=http://10.147.81.207:4000


# Admin login credentials
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=niramay@2024

# Clinic phone (used in WhatsApp links)
VITE_CLINIC_PHONE=9428004144

VITE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwhVs7eBuq2jzBWnieO9eaJTBPd6B0PivgQYdea2NXsbN1z_JHgw31FAHyEtasKujEL/exec


VITE_WATI_URL=https://live-mt-server.wati.io/YOUR_ACCOUNT_ID
VITE_WATI_TOKEN=your-bearer-token-here